<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cookies - <%= config.sitesettings.sitename %></title>
        <meta property="og:title" content="Cookies - <%= config.sitesettings.sitename %>" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="<%= config.sitesettings.sitecolor %>">
        <meta name="description" content="<%= config.sitesettings.sitedescription %>" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= config.sitesettings.sitedescription %>" />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container bg-dark p-3 text-start" style="border-radius: 0.4em;">
            <p class="convertPara">This cookie policy outlines how Hyperz Cloud System uses “cookies” and other similar technologies, in connection with our site and related services.</p>
            <h1>What is a Cookie?</h1>
            <p class="convertPara">Cookies are small text files stored in a computer's browser directory. They help website providers with understanding how people use a website, remembering user login details, and storing website preferences.</p>
            <h1>Does Hyperz Cloud System use Cookies?</h1>
            <p class="convertPara">Yes we do use cookies to:</p>
            <ul class="convertul">
                <li class="convertli">Ensure that services function properly,</li>
                <li class="convertli">Understand how visitors use our website,</li>
                <li class="convertli">Analyse and improve services</li>
            </ul>
            <h1>Who sets cookies when I use Hyperz Cloud System's Site?</h1>
            <p class="convertPara">There are two types of cookies that are set;</p>
            <ul class="convertul">
                <li class="convertli">First party cookies: these cookies are placed and read by Hyperz Cloud System directly when you use our services</li>
                <li class="convertli">Third-party cookies: these cookies are not set by Hyperz Cloud System, they are set by other companies, like Google for website analytic purposes.</li>
            </ul>
        </div>
        <%- include('_footer') %>
    </body>
</html>
