<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home - <%= config.sitesettings.sitename %></title>
        <meta property="og:title" content="Home - <%= config.sitesettings.sitename %>" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="<%= config.sitesettings.sitecolor %>">
        <meta name="description" content="<%= config.sitesettings.sitedescription %>" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= config.sitesettings.sitedescription %>" />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container bg-dark p-3 homepageattention" style="border-radius: 0.4em;">
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center">
                    <img src="/assets/logo.png" class="homepagelogo" alt="website logo">
                </div>
                <div class="col-lg-8 text-start aligncentermobile">
                    <div class="desktop">
                        <br>
                    </div>
                    <h1 class="bigfont homepageheadermain"><i class="fa-solid fa-cloud"></i> <%= config.sitesettings.sitename %></h1>
                    <p class="mb-3"><%= config.sitesettings.sitedescription %></p>
                    <hr>
                    <a href="https://store.hyperz.net" class="btn btn-theme mb-2" target="_blank"><i class="fa-solid fa-code"></i> Hyperz Development</a>
                    <a href="/discord" class="btn btn-theme mb-2" target="_blank"><i class="fa-brands fa-discord"></i> Support Discord</a>
                </div>
            </div>
            <% if(typeof project != 'undefined') { %>
                <hr>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-lg-4 text-center">
                        <img src="<%= project.logourl %>" class="homepageprojectlogo" alt="website logo">
                    </div>
                    <div class="col-lg-8 text-start aligncentermobile">
                        <h1 class="bigfont mt-3"><i class="fa-solid fa-handshake"></i> <%= project.name %></h1>
                        <p class="mb-3"><%= project.description %></p>
                        <hr>
                        <% project.buttons.forEach(function(item) { %>
                        <a href="<%= item.link %>" class="btn btn-theme mb-2" target="_blank"><%- item.name %></a>
                        <% }); %>
                    </div>
                </div>
            <% }; %>
        </div>
        <br>
        <%- include('_footer') %>
    </body>
</html>
