<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Panel - <%= config.sitesettings.sitename %></title>
        <meta property="og:title" content="Panel - <%= config.sitesettings.sitename %>" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="<%= config.sitesettings.sitecolor %>">
        <meta name="description" content="<%= config.sitesettings.sitedescription %>" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= config.sitesettings.sitedescription %>" />
    </head>
    <body>
        <%- include('_header') %>
        <div class="row p-5">
            <div class="col-lg-4 mb-3">
                <div class="container panelcolumnheight bg-dark p-3" style="border-radius: 0.4em;">
                    <h1 class="bigfont">👋 Hello there!</h1>
                    <hr>
                    <button type="button" class="btn btn-theme2 w-100 mb-2" data-bs-toggle="modal" data-bs-target="#createCategory"><i class="fa-solid fa-plus"></i> Create Category</button>
                    <button type="button" class="btn btn-theme2 w-100 mb-2" data-bs-toggle="modal" data-bs-target="#passwordGenerator"><i class="fa-solid fa-lock"></i> Password Generator</button>
                    <button type="button" class="btn btn-theme2 w-100 mb-2" data-bs-toggle="modal" data-bs-target="#shufflePickRandom"><i class="fa-solid fa-shuffle"></i> Shuffle & Pick Random</button>
                    <hr>
                    <button type="button" class="btn btn-theme2 w-100 mb-3" data-bs-toggle="modal" data-bs-target="#customOption"><i class="fa-solid fa-plus"></i> Create Custom Button</button>
                    <div class="custombuttonspanelarea">

                    </div>
                    <hr>
                    <button type="button" class="btn btn-theme2 w-100 mb-2" data-bs-toggle="modal" data-bs-target="#accountSettings"><i class="fa-solid fa-user-gear"></i> Account Settings</button>
                    <p class="mt-1" style="color: lightgray;">Login: <%= currenttime %></p>
                </div>
            </div>
            <div class="col-lg-8 mb-3">
                <div class="container panelcolumnheight bg-dark p-3" style="border-radius: 0.4em;">
                    <h1 class="bigfont"><i class="fa-solid fa-cloud"></i> Cloud Category Manager</h1>
                    <hr>
                    <% if(!cats[0]) { %>
                        <div class="fixedrowpanelheight">
                            <h3 class="text-center text-theme mb-5">No categories to display...</h3>
                        </div>
                    <% } else { %>
                        <div class="row p-1 fixedrowpanelheight">
                            <% cats.forEach(function(item) { %>
                                <div class="col-lg-6 mb-3 text-start">
                                    <h3 style="font-weight: 600;"><%= item.name %></h3>
                                    <div class="panelcategory" style="border-color: <%= item.color %>;">
                                        <a href="/editcat/<%= item.uniqueid %>" class="btn btn-primary categorybuttonpanel">Edit Category</a>
                                        <a href="/viewcat/<%= item.uniqueid %>" class="btn btn-danger categorybuttonpanel">View Category</a>
                                        <a href="/apisettings/<%= item.uniqueid %>" class="btn btn-warning categorybuttonpanel">API Settings</a>
                                    </div>
                                    <hr>
                                </div>
                            <% }); %>
                        </div>
                    <% }; %>
                    <p class="mb-2 mt-1 desktop text-theme bigfont">Version: <%= packagejson.version %></p>
                </div>
            </div>
        </div>
        <%- include('_footer') %>
        <div class="modal fade" id="createCategory" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Create Category</h1>
                  <button type="button" class="btnnostyle closebutton" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <form action="/backend/create/category" method="post">
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-theme">Save changes</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal fade" id="passwordGenerator" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Password Generator</h1>
                  <button type="button" class="btnnostyle closebutton" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <form action="/backend/create/password" method="post">
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-theme">Save changes</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal fade" id="shufflePickRandom" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Shuffle A List</h1>
                  <button type="button" class="btnnostyle closebutton" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <form action="/backend/create/shufflelist" method="post">
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-theme">Save changes</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal fade" id="customOption" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Create Custom Button</h1>
                  <button type="button" class="btnnostyle closebutton" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <form action="/backend/create/customoption" method="post">
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-theme">Save changes</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
        <div class="modal fade" id="accountSettings" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content bg-dark">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Account Settings</h1>
                  <button type="button" class="btnnostyle closebutton" data-bs-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <form action="/backend/update/account" method="post">
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-theme">Save changes</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
    </body>
</html>
