<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Privacy - <%= config.sitesettings.sitename %></title>
        <meta property="og:title" content="Privacy - <%= config.sitesettings.sitename %>" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="<%= config.sitesettings.sitecolor %>">
        <meta name="description" content="<%= config.sitesettings.sitedescription %>" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= config.sitesettings.sitedescription %>" />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container bg-dark p-3 text-start" style="border-radius: 0.4em;">
            <p class="convertPara">Your information is valuable and we are pleased to provide information regarding your privacy.</p>
            <h1>Kinds of personal information we collect and store</h1>
            <p class="convertPara">As we use third parties for our login methods, we collect information provided by these services. Information we collect is.</p>
            <ul class="convertul">
                <li class="convertli">Account IDs</li>
                <li class="convertli">Emails</li>
                <li class="convertli">Guilds (Discord Only)</li>
                <li class="convertli">Creation of your account</li>
                <li class="convertli">Account profile photo/avatar</li>
                <li class="convertli">Internet Protocol (IP)</li>
                <li class="convertli">Payment Information (for PayPal, we collect your account handle/email, for Stripe transactions we collect the last 4 digits of your card, along with transaction Ids for both services.)</li>
            </ul>
            <p class="convertPara">Possible login services we can enable are; Discord, Local, these services give basic information supplied by their API. Their Terms of Service and privacy policies can be viewed on their respective platforms.</p>
            <h1>How we collect your information</h1>
            <p class="convertPara">Once you log in and create an account your information from there is collected and stored in our secure database. This information includes the kinds of personal information listed above. Payment information is only collected when a purchase has been made on our website.</p>
            <h1>How we use your information</h1>
            <p class="convertPara">We actively use your information on your account page along with administrational logs which include; payment history, audit logs, receipts.</p>
            <p class="convertPara">We also use your information with our third parties which are able to request user information access, these third parties are listed below.</p>
            <p class="convertPara">Additionally, we also collect data to use in advertising on various advertisement platforms. The shared information with advertising is broad and is not figures for individual user accounts. The data is collected and used as a sum total between all users to gather statistics for our website.</p>
            <h1>Verified Third Parties:</h1>
            <ul class="convertul">
                <li class="convertli">Stronger Together Network, can request basic user information which is displayed on public user-profiles and in accordance with our Terms of Service.</li>
            </ul>
        </div>
        <%- include('_footer') %>
    </body>
</html>
